# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Git
.git
.gitignore

# CI / tooling
.github/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Local env
.env

# Artifacts / ML outputs
artifacts/
logs/
outputs/
mlruns/
mlartifacts/
mlflow.db

# Data (ważne – nie chcemy wrzucać datasetów do obrazu)
data/

# Build / packaging
build/
dist/
*.egg-info/

# Misc
*.log